.buscar {
    background-color: #0b53b8;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    width: 200px;
    backdrop-filter: blur(15px);
    font-size: 14px;
}

.buscar:hover {
    background-color: #378ae2;
}
.buscarEscolhido {
    background: linear-gradient(0deg, hsl(229, 79%, 63%), rgb(141, 181, 236),
     rgb(71, 135, 224), rgb(71, 135, 224), rgb(71, 135, 224), rgb(71, 135, 224), rgb(71, 135, 224));
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    width: 200px;
    backdrop-filter: blur(15px);
    font-size: 14px;
}

.PrimeiraParte {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px auto 0;
    margin-left: 280px;
    margin-bottom: 5px;
}

.SegundaParte {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px auto 0;
    margin-left: 280px;
}

.PrimeiraParte :last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.SegundaParte :last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.PrimeiraParte :first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.SegundaParte :first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}