#containerPrincipal {
  display: flex;
  flex-direction: column;
  width: 97%;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  background-color: #bfe5f5;
  position: relative;
  flex-wrap: wrap;
  border-radius: 0px;
}

#containerPrincipal h4 {
  display: flex;
  margin-left: 60px;
  color: #094191;
  font-size: 18px;
  padding: none;
  margin-top: 25x;
  margin-bottom: 0px;

}
.master {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 150px;
  float: left
}

.blocos {
  margin: 10px;
  margin-right: 160px;
}

.blocosmod {
  margin: 10px;
  margin-right: 350px;
}

.blocos input {
  border-radius: 4px;
  border: none;
  width: 350px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.blocosmod input {
  border-radius: 4px;
  border: none;
  height: 25px;
}

.placeholderDDD {
  width: 50px;
  text-align: center;
}

.placeholderDados {
  width: 250px;
  text-align: left;
}