.info {
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;

}


.info input {
    padding: 8px;
    width: 350px;
    border: 2px solid #0230ff;
    border-radius: 8px;
    background-color: rgb(255, 255, 253);
}

.info p {
    font-size: 14px;
    color: #000000;
}

#informacoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 50px;
    align-items: center;
    margin-left: 65px;
}
