@import url('header.css');
@import url('info.css');
@import url('Buscar.css');
@import url('Container.css');
@import url('botao.css');
@import url('containerPrincipal.css');
@import url('nav.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 630;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.master p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: rgba(24, 24, 24, 0.788);
}
