header {
    padding-block: 32px;
}

header.container {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    gap: 32px;
} 

main > div {
    max-width: 384px;
}

main h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

main p {
    font: var(--text-md);
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
}