*{
margin: 0;
padding: 0; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1280px;
    height: 1588px; */
    /* background-position-x : 80;
    background-position-y: 224; */
    background-color: #573824;
    opacity: 100%;

}

/* :root aplicaria em tudo */



.container {
    background-color: #F0E8C2;
    width: 800px;
    height: 1500px;
    gap: 24px;
    padding: 24px 24px;
    border-radius: 24px;
    margin: 48px auto 28px;
    box-sizing: border-box;
}

#foto {
    border-radius: 16px;
    width: 752px;
    height: 400px;
}

#title {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    font-size: 40px;
    color: #291B1A;
    margin-bottom: 4px;
}

#titleIn {

    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    font-size: 24px;
    color: #291B1A;
    margin-bottom: 4px;
}

#titlePrep {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    font-size: 24px;
    color: #291B1A;
    margin-bottom: 4px;
}

.textinho {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    font-size: 16px;
    color: #573824;
}

.listinha {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    font-size: 16px;
    color: #573824;
}


main{ 
    padding: 24px;
    }

#about p + p {
    margin-top: 12px;
}

section + section {
    margin-top: 24px;
}

ul {
    padding-left: 24px;
}

footer {
    color: #F0E8C2;
    text-align: center;
    padding-bottom: 48px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}